/*
font-family: 'Lexend Zetta', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
*{
    box-sizing: border-box;
    margin: 0;
    color:#444040;
}
hr{
    border: #e8e8e8 1px solid;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}
.header{
    height: fit-content;
    text-align: center;
    min-width: 1200px;
}
.header-wrapper{
    max-width: 1200px;
    margin: auto;
}

.header img{
    margin: 20px;
    width: 150px;

}
.header p{
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}
.header-info{
    text-align: center;
}
.header-info img{
    width: 1200px;
    height: 550px;
    margin: 30px;
}
.showroom{
    height: fit-content;
    font-family: 'Duru Sans', sans-serif;
    font-size: 18px;
}
.hackathon{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    
}
.hackathon-container{
    display: flex;
    justify-content: space-between;
    
}
.hackathon-container img{
    width: 90%;
}
.hackathon h2,.bootcamp h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}
.hackathon-card{
    text-align: center;
    border: solid 3px rgb(220, 226, 220);
    box-shadow:  8px 8px 5px slategray;
    width: 30%;
}
.hackathon-card:hover{
    transform: scale(1.05);
    transition: .5s transform ease-in-out;
}
.hackathon-card ul{
    min-height: 100px;
    padding: 0;
}
.hackathon-card li{
    list-style-type: none;
}
.hackathon-card h3{
    font-family: 'Raleway';
    font-size:25px;
    margin: 20px;
    color: rgb(75, 72, 72);
}
.btn,a{
    cursor: pointer;
}
.btn:hover{
    background: #444040;
    color: #e8e8e8;
}
.btn{
    width: 90%;
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    border: #444040 1px solid;
    border-radius: 6px;

}

.hackathon-card p{
    text-align: justify;
    width: 90%;
    
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Duru Sans', sans-serif;
}
.bootcamp{
    width: 100%;
    min-width: 1200px;
    margin: auto;
}
.bootcamp h2{
    text-align: center;
}
.bootcamp-desc{
    text-align: center;
    font-size: 18px;
    font-family: 'Duru Sans', sans-serif;
    width: 85%;
    max-width: 1200px;
    margin: auto;
}
.bootcamp-card-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.bootcamp-card-column30{
    width: 35%;
    margin: auto;
    margin-left: 5%;
    padding: 2%;
    border-left: #e8e8e8 3px solid;
    border-top: #e8e8e8 3px solid;
    height: 60%;
    color: #444040;
    
}

.bootcamp-card-column30 span{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-left: 20px;
    

    }
.bootcamp-card-column30 a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.bootcamp-card{
    box-shadow:  8px 8px 6px slategray;
    margin-top: 40px;
    position: relative;
    width: 65%;
}
.bootcamp-card-row{
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    margin: auto;
    padding-bottom: 80px;
}
.bootcamp-card img{
    width: 100%;;
}
.bootcamp-card-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px white solid;
    color: rgb(255, 255, 255);

    background: rgb(46, 44, 44);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.bootcamp-card-info *{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.bootcamp-card-info h3{
    font-family: 'Raleway';
    font-size:25px;
    text-align: center;
    
}
.bootcamp-card-info p{
    font-size: 22px;
    font-family: 'Duru Sans', sans-serif;
    text-align: center;
    width: 90%;
    
}
.d-show{
    opacity: 1;
    transition: .75s opacity ease-out;
}
.d-hide{
    opacity: 0;
    transition: .50s opacity ease-out;
}
footer{
    height: 250px;
    min-width: 1200px;
    background: black;
   
}
footer * {
    color: white;
    font-size: 30px;
    
}
.footer-column{
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
.footer-column p{
    margin-top: 20px;
}
.footer-column i{
    margin-left: 20px;
}

/*###################
Animations
#####################
*/
@media only screen and (max-width: 992px) {
    hr{
        width: 80%;
    }
    .header{
        min-width: 769px;
    }
    .header-wrapper{
        max-width: 992px;
    }  
    .header-info img{
        width: 80%;
        height: 350px;
    }
    .hackathon{
        width: 80%;  
    }
    .bootcamp{
        width: 80%;
        min-width: 768px;
    }
    .bootcamp-card-row{
        width: 80%;
        min-width: 768px;
        padding-bottom: 40px;
    }
    .bootcamp-card-column30 span{
        font-size: 20px;
    }
    footer{
        min-width: 768px;
        width: 100%;
        
    }
    .footer-column{
        width: 80%;
        font-size-adjust: inherit;
        
    }
    .footer-column *{
        font-size: 20px;
    }
    .footer-column i{
        font-size: 75px;
    }

  } 
@media only screen and (max-width:767px){

    .header{
        min-width: auto;
    }
    .header-wrapper{
        max-width: 768px;
    }  
    .header-info img{
        width: 80%;
        height: 350px;
    }
    .hackathon{
        width: 100%;  
        margin: auto;
    }
    .hackathon-container{
        flex-direction: column;
    }
    .hackathon-card{
        width: 80%;
        margin: auto;
        margin-bottom: 10%;
    }
    .bootcamp{
        width: 80%;
        min-width: auto;
    }
    .bootcamp-card-row{
        width: 100%;
        min-width: auto;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
    }
    .bootcamp-card-column30{
        width: 100%;
        margin: auto;
    }
    .bootcamp-card-column30 span{
        font-size: 20px;
    }
    .bootcamp-card{
        width: 100%;
        margin-bottom: 6%;
    }
    footer{
        min-width: 768px;
        width: 100%;
        
    }
    .footer-column{
        width: 80%;
        font-size-adjust: inherit;
        
    }
    .footer-column *{
        font-size: 20px;
    }
    .footer-column i{
        font-size: 75px;
    }
}